In [1]:
# Dependencies
import numpy as np
import pandas as pd
import fnmatch as fm
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
jun1 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2010-06-01') & (Measurement.date <= '2010-06-30')).all()
jun2 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2011-06-01') & (Measurement.date <= '2011-06-30')).all()
jun3 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2012-06-01') & (Measurement.date <= '2012-06-30')).all()
jun4 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2013-06-01') & (Measurement.date <= '2013-06-30')).all()
jun5 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2014-06-01') & (Measurement.date <= '2014-06-30')).all()
jun6 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2015-06-01') & (Measurement.date <= '2015-06-30')).all()
jun7 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2016-06-01') & (Measurement.date <= '2016-06-30')).all()
jun8 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2017-06-01') & (Measurement.date <= '2017-06-30')).all()

In [5]:
# 2. Convert the June temperatures to a list.
june_results = []
june_results = (jun1+jun2+jun3+jun4+jun5+jun6+jun7+jun8)

In [6]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns=['date','June Temps'])
june_df.set_index(june_df['date'], inplace=True)

In [7]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec1 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2010-12-01') & (Measurement.date <= '2010-12-31')).all()
dec2 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2011-12-01') & (Measurement.date <= '2011-12-31')).all()
dec3 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2012-12-01') & (Measurement.date <= '2012-12-31')).all()
dec4 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2013-12-01') & (Measurement.date <= '2013-12-31')).all()
dec5 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2014-12-01') & (Measurement.date <= '2014-12-31')).all()
dec6 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2015-12-01') & (Measurement.date <= '2015-12-31')).all()
dec7 = session.query(Measurement.date, Measurement.tobs).\
filter((Measurement.date >= '2016-12-01') & (Measurement.date <= '2016-12-31')).all()

In [10]:
# 7. Convert the December temperatures to a list.
dec_results = []
dec_results = (dec1+dec2+dec3+dec4+dec5+dec6+dec7)

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results, columns=['date','December Temps'])
dec_df.set_index(dec_df['date'], inplace=True)

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [13]:
# 10. Return to your challenge instructions to compare your summary statistics